<p>bengular console works!</p>

<input style="text-align:center" dir="auto" class="m-3" [(ngModel)]="searchquery" autocomplete="off" (keyup)="search()">

<div class="container-fluid">
    <div class="" *ngIf="this.itemsx | async as jak">

        <div class="row" *ngFor="let obj of jak.items" style="direction:rtl">

            <div class="col-1">{{obj.type}}</div>
            <div class="col">

                <a *ngIf="obj.type == 'post'" routerLink="domain/{{obj.data.domain}}/post/{{obj.data.id}}">{{obj.title}}</a>

                <a *ngIf="obj.type == 'domain'" routerLink="domain/{{obj.data.domain}}">{{obj.title}}</a>


            </div>


        </div>
    </div>

</div>


<router-outlet></router-outlet>