<p>post works!</p>


<div class="" *ngIf="this.post | async as postx" style="">

    <input [(ngModel)]="postx.data.url" /><br>
    <input [(ngModel)]="postx.data.title" /><br>
    <textarea [(ngModel)]="postx.data.tiny_text"></textarea><br>

    <textarea  [(ngModel)]="postx.data.ldjson" style="width: 100%;height:200px"></textarea><br>

    <editor  [init]="{
        setup: setup,
        height: 500,
        media_poster: true,
        directionality: 'rtl',

        plugins: [
           'image','media','emoticons','code'
        ],
        toolbar:
         'media namasha | code | bold italic backcolor link anchor'
      }" apiKey="dyeengszffhxo9qe0sb5u8rjc721zec1yka6tjc3nssmx6c4" [(ngModel)]="postx.data.text" ></editor>


    <button  (click)="postx.save() ; ">save</button>

<button (click)="postx.dodox()">saveimages</button>

<button (click)="postx.jsondlgen()">genldjson</button>

   
    <button *ngIf="postx.post_id > 0" (click)="postx.delete(); ">delete</button>






</div>

